#!/bin/bash
#SBATCH --job-name="direction"
#SBATCH --nodes=
#SBATCH --ntasks=
#SBATCH --time=
#SBATCH --output=:output_sbatch:/direction_:job_id:.o
#SBATCH --error=:output_sbatch:/direction_:job_id:.o
#SBATCH -A 
#SBATCH -p 


#OPTIONAL_COMMANDS

###################################################
NPROC=
###################################################

:mpibin: $NPROC :executable: :parameters:

if [ $? -ne 0 ]; then
echo "Compute Direction"
exit 1
fi
