#!/bin/bash
#SBATCH --job-name="UPDATE"
#SBATCH --nodes=
#SBATCH --ntasks=
#SBATCH --time=
#SBATCH --output=
#SBATCH --error=
#SBATCH -A 
#SBATCH -p 

###################################################
NPROC=
###################################################


:mpibin: $NPROC :executable: :parameters:

if [ $? -ne 0 ]; then
echo "Update model"
exit 1
fi
